@import url("typography.css");
/* COMMON */
html, body {
  max-width: 100vw;
}

body {
  box-sizing: content-box;
  height: 100vh;
  width: 375px;
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  margin: auto;
  font-size: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto 415px;
  grid-template-areas: "header-content" "image-content" "main-content";
}

::placeholder {
  color: hsl(0deg, 36%, 70%);
}

/* HEADER */
header {
  grid-area: header-content;
  padding: 30px;
}
header img {
  width: 32%;
}

/* IMAGE CONTENT */
.image-content {
  grid-area: image-content;
  margin-bottom: 10px;
}
.image-content .desktop-hero-image {
  display: none;
}

/* MAIN */
main {
  grid-area: main-content;
}
main .apparel-content-section {
  padding: 0px 30px;
  /* COMING SOON HEADER */
  /* APPAREL PARAGRAPH */
  /* INPUT FIELD */
  /* ERROR MESSAGE */
}
main .apparel-content-section .coming-soon-header {
  margin: 5px 0px;
  font-family: "JosefinSans-Light";
  font-size: 2.55rem;
  color: hsl(0deg, 36%, 70%);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
}
main .apparel-content-section .coming-soon-header b {
  font-family: "JosefinSans-SemiBold";
  color: hsl(0deg, 6%, 24%);
}
main .apparel-content-section .apparel-paragraph {
  margin: 16px 0px 30px;
  font-family: "JosefinSans-Regular";
  font-size: 0.9rem;
  color: hsl(0deg, 36%, 70%);
  text-align: center;
  line-height: 22px;
}
main .apparel-content-section .input-field {
  position: relative;
  width: 260px;
  height: 50px;
  margin-bottom: 6px;
  /* ERROR ICON */
  /* SUBMIT BUTTON */
}
main .apparel-content-section .input-field .email-input-field {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 24px;
  padding: 12px 22px;
  border: 1px solid hsl(0deg, 36%, 70%);
  border-radius: 25px;
  font-family: "JosefinSans-Light";
  font-size: 0.9em;
}
main .apparel-content-section .input-field .invalid-email {
  border: 2px solid hsl(0deg, 93%, 68%) !important;
}
main .apparel-content-section .input-field .error-icon {
  display: none;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 80%;
}
main .apparel-content-section .input-field .submit-button {
  position: absolute;
  z-index: 1;
  left: 95%;
  width: 64px;
  height: 50px;
  border: 0px solid hsl(0deg, 6%, 24%);
  border-radius: 50px;
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
}
main .apparel-content-section .input-field .submit-button:hover {
  box-shadow: 1px 5px 10px hsl(0deg, 74%, 74%);
  background: linear-gradient(135deg, hsl(0deg, 100%, 98%), hsl(0deg, 74%, 74%));
}
main .apparel-content-section .error-message {
  margin: 0px 0px 0px 24px;
  display: none;
  font-family: "JosefinSans-Regular";
  font-size: 0.65em;
  color: hsl(0deg, 93%, 68%);
}

@media only screen and (min-width: 1200px) {
  body {
    background: url("../images/bg-pattern-desktop.svg") 10% top no-repeat, linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
    grid-template-rows: 160px 540px;
    grid-template-columns: 830px 610px;
    grid-template-areas: "header-content image-content" "main-content image-content";
  }
  /* HEADER */
  header {
    margin-top: 0px;
    padding: 0px 160px;
  }
  header img {
    width: 32.75%;
  }
  /* IMAGE CONTENT */
  .image-content .mobile-hero-image {
    display: none;
  }
  .image-content .desktop-hero-image {
    margin-top: 100px;
    display: block;
  }
  /* MAIN */
  main .apparel-content-section {
    padding: 0px 165px;
    /* COMING SOON HEADER */
    /* APPAREL PARAGRAPH */
    /* INPUT FIELD */
    /* ERROR MESSAGE */
  }
  main .apparel-content-section .coming-soon-header {
    font-size: 4.25rem;
    text-align: left;
    letter-spacing: 14px;
  }
  main .apparel-content-section .apparel-paragraph {
    width: 90%;
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
  }
  main .apparel-content-section .input-field {
    width: 385px;
    height: 50px;
    margin-bottom: 6px;
    /* ERROR ICON */
    /* SUBMIT BUTTON */
  }
  main .apparel-content-section .input-field .email-input-field {
    width: 100%;
    height: 20px;
    padding: 18px 30px;
    font-size: 0.95em;
  }
  main .apparel-content-section .input-field .invalid-email {
    border: 2px solid hsl(0deg, 93%, 68%) !important;
  }
  main .apparel-content-section .input-field .error-icon {
    display: none;
    top: 25%;
    left: 80%;
  }
  main .apparel-content-section .input-field .submit-button {
    left: 90%;
    width: 100px;
    height: 60px;
  }
  main .apparel-content-section .error-message {
    margin: 0px 0px 0px 24px;
    display: none;
    font-family: "JosefinSans-Regular";
    font-size: 0.65em;
    color: hsl(0deg, 93%, 68%);
  }
}

/*# sourceMappingURL=styles.css.map */
