@import url('typography.css');

// COLORS

// PRIMARY
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

// NEUTRAL
$darkGrayishRed: hsl(0, 6%, 24%);

// MIXINS
@mixin linearGradient($colorOne, $colorTwo){
    background: linear-gradient(135deg, $colorOne, $colorTwo);
}

@mixin fontStyleSet($fontFamily, $fontSize:16px, $color){
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
}

@mixin borderSizeAndRadiusSet($width, $height, $border, $borderRadius){
    width: $width;
    height: $height;
    border: $border;
    border-radius: $borderRadius;
}

/* COMMON */
html, body {
    max-width: 100vw;
}

body {
    box-sizing: content-box;
    height: 100vh;
    width: 375px;
    @include linearGradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    margin: auto;
    font-size: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto 415px;
    grid-template-areas: 
    'header-content'
    'image-content'
    'main-content';
}

::placeholder {
    color: $desaturatedRed;
}

/* HEADER */
header {
    grid-area: header-content;
    padding: 30px;
    
    img {
        width: 32%;
    }
}

/* IMAGE CONTENT */
.image-content {
    grid-area: image-content;
    margin-bottom: 10px;

    .desktop-hero-image{
        display: none;
    }
}

/* MAIN */
main {
    grid-area: main-content;

    .apparel-content-section {
        padding: 0px 30px;

        /* COMING SOON HEADER */
        .coming-soon-header {
            margin: 5px 0px;
            @include fontStyleSet('JosefinSans-Light', 2.55rem, $desaturatedRed);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;

            b {          
                font-family: 'JosefinSans-SemiBold';
                color: $darkGrayishRed;
            }
        }

        /* APPAREL PARAGRAPH */
        .apparel-paragraph {
            margin: 16px 0px 30px;
            @include fontStyleSet('JosefinSans-Regular', 0.90rem, $desaturatedRed);
            text-align: center;
            line-height: 22px;
        }

        /* INPUT FIELD */
        .input-field {
            position: relative;
            width: 260px;
            height: 50px;
            margin-bottom: 6px;

            .email-input-field {
                position: absolute;
                z-index: 0;
                padding: 12px 22px;
                @include borderSizeAndRadiusSet(100%, 24px, 1px solid $desaturatedRed, 25px);
                font-family: 'JosefinSans-Light';
                font-size: 0.90em;
            }

            .invalid-email {
                border: 2px solid $softRed !important;
            }

            /* ERROR ICON */
            .error-icon {
                display: none;
                position: absolute;
                z-index: 1;
                top: 25%;
                left: 80%;
            }

            /* SUBMIT BUTTON */
            .submit-button {
                position: absolute;
                z-index: 1;
                left: 95%;
                @include borderSizeAndRadiusSet(64px, 50px, 0px solid $darkGrayishRed, 50px);
                @include linearGradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));

                &:hover {
                    box-shadow: 1px 5px 10px hsl(0, 74%, 74%);
                    @include linearGradient(hsl(0, 100%, 98%), hsl(0, 74%, 74%));
                }
            }
        }

         /* ERROR MESSAGE */
        .error-message {
            margin: 0px 0px 0px 24px;
            display: none;
            @include fontStyleSet('JosefinSans-Regular', 0.65rem, $softRed);
        }
    }
}

// PORTRAIT TABLET
@media only screen and (min-width:600px){

}

// LANDSCAPE TABLET
@media only screen and (min-width:768px){
    
}

// LARGE LAPTOP/DESKTOP
@media only screen and (min-width:992px){
    
}

// LARGE LAPTOP/DESKTOP
@media only screen and (min-width:1200px){

    body {
        background: url('../images/bg-pattern-desktop.svg') 10% top no-repeat, linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%)) ;
        grid-template-rows: 160px 560px;
        grid-template-columns: 830px 610px;
        grid-template-areas: 
        'header-content image-content'
        'main-content image-content';
    }

    /* HEADER */
    header {
        margin-top: 0px;
        padding: 0px 160px;
        
        img {
            width: 32.75%;
        }
    }

    /* IMAGE CONTENT */
    .image-content {

        .mobile-hero-image {
            display: none;
        }

        .desktop-hero-image {
            margin-top: 95px;
            display: block;
        }
    }

    /* MAIN */
    main {

        .apparel-content-section {
            padding: 0px 165px;

            /* COMING SOON HEADER */
            .coming-soon-header {
                @include fontStyleSet('JosefinSans-Light', 4.25rem, $desaturatedRed);
                text-align: left;
                letter-spacing: 14px;
            }

            /* APPAREL PARAGRAPH */
            .apparel-paragraph {
                width: 90%;
                @include fontStyleSet('JosefinSans-Regular', 1rem, $desaturatedRed);
                text-align: left;
                line-height: 30px;
            }

            /* INPUT FIELD */
            .input-field {
                width: 385px;
                margin-bottom: 16px;

                .email-input-field {
                    @include borderSizeAndRadiusSet(100%, 20px, 1px solid $desaturatedRed, 25px);
                    padding: 18px 30px;
                    font-size: 0.95em;
                }

                /* SUBMIT BUTTON */
                .submit-button {
                    left: 90%;
                    @include borderSizeAndRadiusSet(100px, 60px, 0px solid $darkGrayishRed, 50px);
                }
            }

            /* ERROR MESSAGE */
            .error-message {
                margin: 0px 0px 0px 30px;
                display: none;
                @include fontStyleSet('JosefinSans-Regular', 0.85rem, $softRed);
            }
        }
    }
}

