@import url('typography.css');

// COLORS

// PRIMARY
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

// NEUTRAL
$darkGrayishRed: hsl(0, 6%, 24%);

// MIXINS
@mixin linearGradient($colorOne, $colorTwo){
    background-color: linear-gradient(135deg, $colorOne, $colorTwo);
}

/* COMMON */
html, body {
    max-width:100vw;
}

body {
    box-sizing: content-box;
    height: 100vh;
    width: 375px;
    margin: auto;
    font-size: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto 415px;
    grid-template-areas: 
    'header-content'
    'image-content'
    'main-content';
}

/* HEADER */
header {
    grid-area: header-content;
    padding: 30px;
    
    img {
        width: 32%;
    }
}

/* IMAGE CONTENT */
.image-content {
    grid-area: image-content;
}

/* MAIN */
main {
    grid-area: main-content;

    .apparel-content-section {
        padding: 0px 30px;

        .coming-soon-header {
            margin: 12px 0px;
            font-family: 'JosefinSans-Light';
            font-size: 2.55rem;
            color: $desaturatedRed;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 10px;

            b {
                font-family: 'JosefinSans-SemiBold';
                color: $darkGrayishRed;
            }
        }

        .apparel-paragraph {
            margin: 2px 0px;
            font-family: 'JosefinSans-Regular';
            font-size: 0.90rem;
            color: $desaturatedRed;
            text-align: center;
            line-height: 24px;
        }
    }
}